<div class="form-row">
  <div class="form-column-one">
    <%= f.label :name, class: 'form-label' %>
    <%= f.text_field :name, class: 'form-input' %>
  </div>
</div>

<div class="form-row">
  <div class="form-column-two">
    <%= f.label :customer_id, class: 'form-label' %>
    <%= f.select(
      :customer_id,
      options_from_collection_for_select(
        Customer.all,
        :id,
        :name,
        f.object.customer_id
      ),
      {},
      class: 'form-select'
    ) %>
  </div>

  <div class="form-column-two">
    <%= f.label :responsible_id, class: 'form-label' %>
    <%= f.grouped_collection_select(
      :global_responsible,
      [User, Team],
      :all,
      :model_name,
      :to_global_id,
      :name,
      {},
      class: 'form-select'
    ) %>
  </div>
</div>
