<tr>
  <td>
    <%= link_to project.name, [:dashboard, project] %>
    <%= project_progress project %>
  </td>
  <td><%= project.customer.name %></td>
  <td><%= l project.created_at, format: :short %></td>
  <td><%= project.deadline %></td>
  <td><%= '5.000,00' %></td>
  <td>
    <div class="dropdown">
      <%= link_to material_icon.more_vert, 'javascript:;', class: 'button-dropdown dropdown-action' %>

      <ul class="dropdown-content">
        <li><%= link_to "Editar", [:edit, :dashboard, project] %>
        <li><a href="#">Remover</a></li>
      </ul>
    </div>
  </td>
</tr>
