<%= content_for :header_new_item do %>
  <%= nav_new_item(new_dashboard_project_path) %>
<% end %>

<div class="padding">
  <div class="box">
    <table class="table padding">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Cliente</th>
          <th>Data de criação</th>
          <th>Prazo</th>
          <th>Valor (R$)</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% if @projects.empty? %>
          <tr>
            <td colspan="6">Nenhum projeto cadastrado até o momento.</td>
          </tr>
        <% else %>
          <%= render @projects %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
