<%= content_for :header_new_item do %>
  <%= nav_new_item(new_dashboard_project_path) %>
<% end %>

<div class="padding">
  <div class="box">
    <%= form_for [:dashboard, @project_form] do |f| %>
      <div class="form-content">
        <%= render 'form', f: f %>
      </div>

      <div class="form-action padding">
        <%= f.submit 'Criar', class: 'button button-submit pull-right' %>
      </div>
    <% end %>
  </div>
</div>
