<%= content_for :header_new_item do %>
  <%= nav_new_item(new_dashboard_project_path) %>
<% end %>


<div class="padding">
  <header class="header-content">
    <h2 class="title-content">
      <%= @project.name %>

      <%= link_to material_icon.add,
                  [:new, :dashboard, @project, :task],
                  class: 'button button-radius button-shadow button-white',
                  title: 'Criar nova tarefa',
                  remote: true %>
    </h2>
  </header>

  <div class="box">
    <h2 class="title-box">Tarefas</h2>

    <table class="table padding">
      <thead>
        <tr>
          <th>ID</th>
          <th>Tarefa</th>
          <th>Status</th>
          <th>Responsável</th>
          <th>Tipo</th>
          <th>Data desejada</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% if @project.tasks.empty? %>
          <tr>
            <td colspan="7">Este projeto ainda não possui tarefas cadastradas.</td>
          </tr>
        <% else %>
          <%= render @project.tasks %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= render 'partials/shared/modal', id: 'task-modal' %>
<%= render 'partials/shared/modal', id: 'new-task-modal' %>
