Olá <%= @invite.name %>,

<p>Você acaba de ser convidado para se juntar à equipe <%= @company.name %> no Owke.</p>

<%= link_to 'Cadastrar', new_dashboard_user_url(
  invite_code: @invite.invite_code,
  subdomain: @company.subdomain,
) %>

<p>Obrigado!</p>
