<div class="form-row">
  <div class="form-column-one">
    <%= f.label :name, class: 'form-label' %>
    <%= f.text_field :name, class: 'form-input' %>
  </div>
</div>

<div class="form-row">
  <div class="form-column-one">
    <%= f.label :members, class: 'form-label' %>
    <%= f.select :members, options_from_collection_for_select(@users, :id, :name, f.object.members.pluck(:id)), {}, class: 'form-select', multiple: true, size: 10 %>
  </div>
</div>
