<tr>
  <td><%= team.name %></td>
  <td><%= team.members.map(&:initials).join(' ') %></td>
  <td>
    <div class="dropdown">
      <%= link_to material_icon.more_vert, 'javascript:;', class: 'button-dropdown dropdown-action' %>

      <ul class="dropdown-content">
        <li><%= link_to "Editar", [:edit, :dashboard, team] %>
        <li><a href="#">Remover</a></li>
      </ul>
    </div>
  </td>
</tr>
