<%= content_for :header_new_item do %>
  <%= nav_new_item(new_dashboard_team_path) %>
<% end %>

<div class="padding">
  <div class="box">
    <table class="table padding">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Usuários</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% if @teams.empty? %>
          <tr>
            <td colspan="6">Nenhuma equipe cadastrada até o momento.</td>
          </tr>
        <% else %>
          <%= render @teams %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
