<h1>SignUp</h1>

<%= form_for @sign_up_form, url: sign_up_path do |f| %>
  <p><%= f.text_field :subdomain, placeholder: 'Domínio' %></p>
  <p><%= f.text_field :name, placeholder: 'Nome' %></p>

  <hr>

  <%= f.fields_for :owner do |of| %>
    <p><%= of.text_field :name, placeholder: 'Nome completo' %></p>
    <p><%= of.email_field :email, placeholder: 'Email' %></p>
    <p><%= of.password_field :password, placeholder: 'Senha' %></p>
    <p><%= of.password_field :password_confirmation, placeholder: 'Confirme a senha' %></p>
  <% end %>

  <p><%= f.submit 'Sign Up' %></p>
<% end %>
