<div class="flashes">
  <% flash.each do |key, value| %>
    <div class="flash flash--<%= key %>"
         data-izimodal-group="flashes"
         data-izimodal-title="<%= value %>"
    >
    </div>
  <% end %>
</div>
