<div class="form-row">
  <div class="form-column-two">
    <%= f.label :name, class: 'form-label' %>
    <%= f.text_field :name, class: 'form-input' %>
  </div>

  <div class="form-column-two">
    <%= f.label :email, class: 'form-label' %>
    <%= f.email_field :email, class: 'form-input' %>
  </div>
</div>
