<%= content_for :header_new_item do %>
  <%= nav_new_item(new_dashboard_invite_path) %>
<% end %>

<div class="padding">
  <div class="box">
    <% if @invites.empty? %>
      <p class="padding text-default text-center">Nenhum convite cadastrado. Cadastre um convite <%= link_to 'aqui', new_dashboard_invite_path %>.</p>
    <% else %>
      <table class="table padding">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Criado em</th>
          </tr>
        </thead>

        <tbody>
          <% @invites.each do |invite| %>
            <tr>
              <td><%= invite.name %></td>
              <td><%= invite.email %></td>
              <td><%= l invite.created_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
