<div class="padding">
  <div class="box">
    <%= form_for @invite_form, url: dashboard_invites_path do |f| %>
      <div class="form-content">
        <%= render 'form', f: f %>
      </div>

      <div class="form-action padding">
        <%= f.submit 'Enviar convite', class: 'button button-submit pull-right' %>
      </div>
    <% end %>
  </div>
</div>
