@import "neat-helpers";

// Neat config
$column: 70px;
$gutter: 20px;
$grid-columns: 12;
$max-width: em(1060);

// Neat Overrides
$visual-grid: true;
$visual-grid-color: red;
$visual-grid-index: front;
$visual-grid-opacity: 0.5;

// Bourbon Neat Breakpoints
$mobile-size: em(430);
$tablet-size: em(700);
$desktop-size: $max-width;
$huge-size: em(1240);

$mobile: new-breakpoint(max-width $mobile-size 5);
$tablet: new-breakpoint(max-width $tablet-size 8);
$desktop: new-breakpoint(max-width $desktop-size 12);
$huge: new-breakpoint(max-width $huge-size 12);

// Colors
$white: #fff;
$black: #000;
$green: #0cc2aa;
$red: #f44336;
$dark-gray: #424B55;
$light-gray: #EAEBEC;

// Font sizes
$default-font-size: 16px;

// Typography
$default-font-size: .875rem;
$default-font: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$default-font-weight: 400;

$header-height: 80px;

// Sidebar
$sidebar-width: 200px;
$sidebar-color: $dark-gray;

// Spaces
$space-small: 20px;
$space-medium: 30px;
$space-large: 40px;

// Shadows
$shadow: 0 2px 2px rgba($dark-gray, .1), 0 1px 0 rgba($dark-gray, .1)
