<div class="box">
  <p class="box-description">Faça login para acessar o dashboard da <%= current_company.name %>.</p>

  <%= form_for [:dashboard, @session], url: dashboard_sessions_path, html: { class: "form-sign-in" } do |f| %>
    <% if @session.errors.any? %>
      <div class="error_explanation">
        <h3><%= pluralize(@session.errors.count, "error") %> prohibited:</h3>

        <ul>
          <% @session.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.email_field :email, class: "input-text", autocomplete: "off", required: "required" %>
      <%= f.label :email %>
    </div>

    <div class="form-group">
      <%= f.password_field :password, class: "input-text", required: "required" %>
      <%= f.label :password %>
    </div>

    <%= f.submit "Login", class: "button button-block" %>
  <% end %>
</div>

<div class="float-box-links">
  <%= link_to "Esqueci a senha", "#" %>
</div>
