<header class="header">
  <nav class="nav-bar nav-header">
    <ul class="menu-bar pull-left">
      <li class="margin-right">
        <h2 class="nav-title">
          <%= t(action_name, scope: [controller_name.underscore, :title], default: :default) %>
        </h2>
      </li>

      <%= yield :header_new_item %>
    </ul>

    <ul class="menu-bar pull-right">
      <li>
        <%= link_to (image_tag 'http://placehold.it/40x40'), '#', class: 'profile-photo-button' %>
      </li>
    </ul>

    <%= content_tag(:div, class: 'search-header pull-right') do %>
      <%= label_tag(:q, "Search for:") %>

      <%= text_field_tag :q, nil, placeholder: 'Pesquisar tarefa ou usuário', class: 'form-input' %>

      <%= button_tag do %>
        <%= material_icon.search %>
      <% end -%>
    <% end %>
  </nav>
</header>
