<aside class="sidebar">
  <h1 class="sidebar-logo"><%= link_to 'Owke', '#' %></h1>

  <nav class="sidebar-menu">
    <div class="inner">
      <ul class="nav-menu-sidebar">
        <li class="<%= active_class("home") %>">
          <%= link_to dashboard_path do %>
            <%= material_icon.dashboard.css_class('icon-menu icon-menu-left')  %>
            Dashboard
          <% end -%>
        </li>

        <li class="<%= active_class("customers") %>">
          <%= link_to dashboard_customers_path do %>
            <%= material_icon.assignment_ind.css_class('icon-menu icon-menu-left')  %>
            Clientes
          <% end -%>
        </li>

        <li class="<%= active_class("teams") %>">
          <%= link_to dashboard_teams_path do %>
            <%= material_icon.rowing.css_class 'icon-menu icon-menu-left' %>
            Equipes
          <% end -%>
        </li>

        <li class="<%= active_class("projects") %>">
          <%= link_to dashboard_projects_path do %>
            <%= material_icon.folder.css_class 'icon-menu icon-menu-left' %>
            Projetos
          <% end -%>

          <!--
          <ul>
            <li>
              <%= link_to new_dashboard_project_path do %>
                Criar novo projeto
              <% end -%>
            </li>
          </ul>
          -->
        </li>

        <li><small class="text-muted">Administração</small></li>
        <li class="<%= active_class("users") %>">
          <%= link_to dashboard_users_path do %>
            <%= material_icon.people.css_class('icon-menu icon-menu-left')  %>
            Usuários
          <% end -%>
        </li>

        <li class="<%= active_class("invites") %>">
          <%= link_to dashboard_invites_path do %>
            <%= material_icon.email.css_class('icon-menu icon-menu-left')  %>
            Convites
          <% end %>
        </li>
      </ul>

      <%= link_to 'Nova tarefa', '#', class: 'button button-nav button-full' %>
    </div>
  </nav>

  <%= link_to dashboard_sessions_path, method: :delete, class: 'sidebar-logout' do %>
    <i class="material-icons">power_settings_new</i>
    Sair
  <% end -%>
</aside>
