<div class="padding">
  <div class="box">
    <% if @users.empty? %>
      <p class="padding text-default text-center">Nenhum usuário cadastrado. Cadastre um usuário <%= link_to 'aqui', '#' %>.</p>
    <% else %>
      <table class="table padding">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Iniciais</th>
            <th>Último login</th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <!-- <td><%= link_to user.name, [:dashboard, user] %></td> -->
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.initials %></td>
              <td><%= distance_of_time_in_words_to_now(user.last_login_at) if user.last_login_at.present? %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
