<% if @user_form.present? %>
  <h1>Novo usuário</h1>

  <%= form_for @user_form, url: dashboard_users_path do |f| %>
    <p><%= f.text_field :initials, placeholder: 'Iniciais', maxlength: 2 %></p>
    <p><%= f.text_field :name, placeholder: 'Nome' %></p>
    <p><%= f.email_field :email, placeholder: 'Email' %></p>
    <p><%= f.password_field :password, placeholder: 'Senha' %></p>
    <p><%= f.password_field :password_confirmation, placeholder: 'Confirme a senha' %></p>

    <p><%= f.submit 'Cadastrar' %></p>
  <% end %>
<% else %>
  <strong>Infelizmene esse convite não é mais válido ou não existe mais. Entre em contato com um administrador e solicite ajuda.</strong>
<% end %>
