.header{
  background-color: white;
  top: 0;
  left: $sidebar-width;
  right: 0;
  position: fixed;
  box-shadow: $shadow;
  z-index: 1;
}

.header-content{
  position: relative;

  .button{
    margin-left: 10px;
  }
}

.search-header{
  margin-top: 20px;
  margin-right: 20px;
  position: relative;

  label{
    display: none;
  }

  input{
    width: 300px;
    float: left;
    border-radius: 3px;
  }

  button,
  input[type="submit"]{
    width: 40px;
    height: 40px;
    border: none;
    background: none;
    top: 0;
    right: 0;
    cursor: pointer;
    position: absolute;

    &,
    & i{
      line-height: 38px;
      font-size: 20px;
      color: lighten($dark-gray, 20%);
    }
  }
}
