.nav{
  &-header{
    @include clearfix;
  }

  &-title{
    height: $header-height;
    line-height: $header-height;
    float: left;
    font-family: $default-font;
    font-size: 26px;
    font-weight: 400;
  }

  &-bar{
    min-height: $header-height;
    padding: 0 $space-small 0 $space-medium;
  }

  &-link{
    width: 25px;
    height: 40px;
    margin: 10px 0px 10px 0px;
    padding: 0;
    display: block;
    border: none;
    background: none;
    cursor: pointer;

    i{
      width: 100%;
      padding: 0 0;
      font-size: 22px;
      color: $dark-gray;
    }
  }
}

.menu-bar{
  &.pull-right{
    margin-top: 10px;
  }

  & > li{
    float: left;
    margin-right: 10px;

    &:last-child{
      margin-right: 0;
    }
  }
}

.nav-new-item{
  @include clearfix;
  height: 40px;
  margin-top: 20px;
  position: relative;

  &,
  i,
  span{
    display: block;
    color: $dark-gray;
    text-decoration: none;
  }

  i{
    @include vertical-align;
    border-radius: 100%;
    overflow: hidden;
    position: absolute;
    font-size: 15px;
  }

  span{
    height: 40px;
    line-height: 40px;
    padding-left: 17px;
    font-family: $default-font;
    font-size: 15px;
    font-weight: 400;
  }

  &:hover{

  }
}
