.session-body{
  background-color: #2e3e4e;
}

.session-logo{
  width: 135px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto 20px auto;
  padding-left: 50px;
  background: url(asset_path('owke-icon.png')) no-repeat left center;
  background-size: 50px 50px;
  letter-spacing: 1px;
  font-family: $default-font;
  font-weight: 400;
  font-size: 25px;
  color: rgba($white, .87);
}
