.sidebar{
  width: $sidebar-width;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: $dark-gray;
  position: fixed;

  &-logo{
    line-height: 40px;
    padding: #{$space-small / 2} $space-small;
    position: relative;

    & > a{
      width: 100%;
      height: 40px;
      padding-left: 40px;
      display: block;
      background: url(asset_path('owke-icon.png')) no-repeat -10px center;
      background-size: 50px 50px;
      letter-spacing: 1px;
      text-decoration: none;
      font-family: $default-font;
      font-weight: 400;
      font-size: 20px;
      color: rgba($white, .87);
    }
  }

  &-menu,
  &-logout{
    position: absolute;
  }

  &-menu{
    overflow: hidden;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 40px;

    & > .inner{
      width: calc(100% + 17px);
      height: 100%;
      overflow: auto;
      padding-right: 15px;
    }
  }

  &-logout{
    height: 40px;
    line-height: 42px;
    border-top: 1px solid rgba(120,130,140,.13);
    left: 0;
    right: 0;
    bottom: 0;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
    font-family: $default-font;
    font-size: 14px;
    font-weight: 100;
    color: $white;
    position: absolute;

    &:hover{
      background-color: lighten($dark-gray, 5%);
    }

    i{
      @include vertical-align;
      left: calc(50% - 35px);
      font-size: 16px;
      position: absolute;
    }
  }

  .button-nav{
    line-height: 40px;
    margin: 30px 20px 20px 16px;
    text-decoration: none;
    text-align: center;
  }

  .button-full{
    display: block;
  }
}

.nav-menu-sidebar{
  & > li{
    position: relative;

    & a,
    & > small{
      height: 35px;
      line-height: 37px;
      display: block;
      padding: 0 20px;
      font-family: $default-font;
      font-weight: 100;
      color: $white;
      opacity: .9;
      position: relative;

      .icon-menu{
        @include vertical-align;
        position: absolute;

        &-left{
          left: 16px;
          font-size: 15px;
        }

        &-right{
          right: 10px;
          font-size: 18px;
          opacity: .6;
        }
      }
    }

    & > small{
      font-size: 12px;
      opacity: .6;
    }

    & a{
      text-decoration: none;
      font-size: 13px;

      &:hover{
        background-color: darken($dark-gray, 6%);
      }
    }

    & > a{
      padding: 0 20px 0 45px;
      position: relative;

      .arrow-down{
        @include transition(all .2s ease-in-out);
        top: 12px;
        right: 20px;
        position: absolute;
      }
    }

    & > ul{
      & > li{
        & > a{
          padding-left: 43px !important;
        }
      }
    }

    &.active{
      & > a{
        padding-left: 42px;
        background-color: darken($dark-gray, 6%);

        .icon-menu-left{
          left: 13px;
        }
      }

      & a{
        border-left: solid 3px $green;

        .arrow-down{
          transform: rotate(180deg);
        }
      }

      & > ul{
        display: block;

        & > li{
          & > a{
            padding: 0 20px 0 46px;
          }
        }
      }
    }
  }
}
