.box{
  background: $white;
  position: relative;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba($dark-gray, .1), 0 1px 0 rgba($dark-gray, .1);
}

.box-header {
  background: darken($white, 3%);
  padding: $space-medium;
  position: relative;

  h2, h3 {
    margin: 0;
    line-height: 1;
    font-family: inherit;
  }

  h2 {
    font-size: 18px;
    font-weight: 500;
  }

  h3 {
    font-size: 16px;
  }

  small {
    display: block;
    margin-top: 4px;
    opacity: .6;
  }
}

.box-tool {
  position: absolute;
  right: 30px;
  top: 30px;

  a{
    color: $dark-gray;

    &:hover{
      color: $black;
    }
  }
}

.box-body {
  padding: $space-medium;

  & > div{
    margin-bottom: 20px;

    &:last-child{
      margin-bottom: 0;
    }

    p{
      margin-top: 5px;
    }
  }
}
