.dropdown{
  display: block;
  float: right;
  position: relative;
}

.button-dropdown.dropdown-action{
  min-width: 20px;
  min-height: 25px;
}

.dropdown-content{
  padding: 0px 0px;
  display: none;
  border: solid 1px rgba($dark-gray, .1);
  background: $white;
  border-radius: 5px;
  box-shadow: $shadow;
  overflow: hidden;
  top: 100%;
  right: 0;
  position: absolute;
  z-index: 1;

  & > li{
    a{
      height: 40px;
      line-height: 40px;
      display: block;
      padding: 0 20px;
      font-family: $default-font;
      font-size: rem(14);
      font-weight: 300 !important;

      &:hover{
        background: lighten($light-gray, 0%);
        text-decoration: none !important;
      }
    }
  }
}

.dropdown-open{
  display: block;
}
