.float-box{
  width: 300px;
  margin: 0 auto;
  padding-top: 30px;

  & > .box{
    padding: 25px;
    border-radius: 3px;
    background-color: $white;

    & > p{
      margin-top: 0;
      padding-top: 0;
    }
  }

  & .box-description{
    line-height: 20px;
    margin-bottom: 20px;
    font-size: 14px;
  }

  &-links{
    padding: 20px;
    text-align: center;

    a{
      @include transition(all .2s ease-in-out);
      text-decoration: none;
      font-family: $default-font;
      font-weight: 400;
      font-size: 14px;
      color: darken($green, 10%);

      &:hover{
        color: $green;
      }
    }
  }
}
