.label{
  background-color: #b8b8b8;
  padding: 2.5px 5px;
  line-height: 1;
  border-radius: 3px;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  font-weight: 100;
  font-size: 75%;
  color: #fff;

  &-small{
    font-size: 10px;
  }

  &.up{
    margin: 0 -.6em;
    top: -15px;
    min-width: 4px;
    min-height: 4px;
    display: inline-block;
    position: relative;
  }

  &.warn{
    background-color: #fcc100;
  }
}
