.progress {
  border-radius: .25rem;
  overflow: hidden;
  background-color: rgba(0,0,0,.065);
  display: block;
  width: 100%;
  height: 1rem;
  margin-top: 0.3rem;

  &-xxs {
    height: 4px;
  }

  .progress-bar {
    display: inline-block;
    float: left;
    height: 100%;
    border-radius: .25rem;
    background-color: $green;
    font-size: .8em;
    transition: width .6s ease;
  }
}
