.title-box{
  padding: $space-medium $space-medium 0 $space-medium;
  margin-bottom: 20px;
  font-size: rem(24);
  font-weight: 300;
  color: $dark-gray;
}

.title-content{
  margin-bottom: 30px;
  display: block;
  font-size: rem(20);
  font-weight: 300;
  color: $dark-gray;
}
