html, body{
  height: 100%;
}

body{
  background-color: $light-gray;
  font-family: $default-font;
  font-size: $default-font-size;
  font-weight: $default-font-weight;
}

a{
  @include transition(all .2s ease-in-out);
}

ul,ol,li,figure{
  list-style: none;
  margin: 0;
  padding: 0;
}

@for $i from 1 through 6{
  h#{$i}{
    margin: 0 0;
  }
}

.wrapper{
  @include outer-container;
  @include clearfix;
}

.padding{
  padding: $space-medium;
}

.margin-right{
  margin-right: $space-medium;
}

.text-center{
  text-align: center;
}

.text-default{
  font-size: 14px;
  font-weight: 400;
  color: $dark-gray;

  a{
    text-decoration: none;

    &:hover{
      color: $black;
      text-decoration: underline;
    }
  }
}
