.button{
  @include transition(all .2s ease-in-out);
  height: 40px;
  border: none;
  border-radius: 3px;
  background-color: $green;
  font-size: 16px;
  font-family: $default-font;
  font-weight: 300;
  color: rgba($white, .87);
  cursor: pointer;

  &-block{
    width: 100%;
  }

  &-radius{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 100%;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    position: relative;

    i{
      @include vertical-align;
    }
  }

  &-shadow{
    box-shadow: 0 2px 5px 0 rgba($black, .26);

    &:hover{
      box-shadow: 0 4px 8px 0 rgba($black, .4) !important;
    }
  }

  &.button-submit{
    padding: 0 20px;
    background-color: #31b0d5;
  }

  &:hover,
  &:focus{
    box-shadow: inset 0 -10rem 0 rgba(lighten($black, 20%), .2);
  }
}

.button-notification{
  height: 40px;
  margin: 10px 20px 10px 10px;
  border: none;
  cursor: pointer;
  background: none;
  position: relative;
  cursor: pointer;

  i{
    font-size: 20px;
  }
}

.profile-photo-button{
  width: 40px;
  height: 40px;
  margin: 10px 10px 10px 0px;
  display: block;
  border-radius: 100%;
  overflow: hidden;
  cursor: pointer;
}
