.form-sign-in,
.form-sign-up,
.form-lost-password{
  font-size: 12px;

  .error_explanation{
    padding: 15px;
    margin-bottom: 20px;
    background-color: rgba($red, .4);
    border: solid 1px rgba($red, .8);
    border-radius: 3px;
    color: $white;

    h3{
      font-weight: 700;
      margin-bottom: 10px;
    }

    ul{
    }
  }

  .form-group{
    padding: 18px 0 24px;
    position: relative;
    color: rgba($black, .87);

    label{
      @include transition(all .2s ease-in-out);
      display: block;
      top: 20px;
      left: 0;
      opacity: .5;
      font-size: 14px;
      font-weight: 400;
      position: absolute;
      z-index: 0;
    }

    .field_with_errors{
      .input-text{
        border-color: $green;
        border-bottom-width: 2px;
        padding-bottom: 1px;
        outline: 0!important;
      }

      label{
        top: 0px;
        font-size: 12px;
        color: $green;
      }
    }
  }
}

.input-text{
  @include transition(all .2s ease-in-out);
  width: 100%;
  height: 34px;
  padding: 2px;
  background: 0 0;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid rgba(160,160,160,.2);
  box-shadow: none;
  color: inherit;
  font-size: 14px;
  position: relative;
  z-index: 5;

  // &[value],
  &.input-focus,
  &:focus{
    border-color: $green;
    border-bottom-width: 2px;
    padding-bottom: 1px;
    outline: 0!important;

    &~label{
      top: 0px;
      font-size: 12px;
      color: $green;
    }
  }
}

.form-action{
  @include clearfix;
  background: rgba($black, .035);
}

.form-content{
  @include clearfix;
  width: 100%;
  padding: $space-medium;
  position: relative;
}

.form-row{
  @include clearfix;
  margin-bottom: 20px;

  &:last-child{
    margin-bottom: 0;
  }
}

.form-column-one{
  @include span-columns(12);
  @include clearfix;
}

.form-column-two{
  @include span-columns(6);
  @include clearfix;
  margin-bottom: 20px;

  &:nth-child(even){
    @include omega();
  }
}

.form-label,
.form-input{
  display: block;
}

.form-label{
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
  color: lighten($dark-gray, 20%)
}

.form-input{
  @include transition(all .2s ease-in-out);
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  border: solid 1px lighten($dark-gray, 60%);
  background-color: #fff;
  font-size: 14px;
  font-weight: 400;

  &:focus{
    outline: none;
    border: $green solid 1px;
  }
}

.form-textarea{
  @extend .form-input;
  max-width: 100%;
  min-height: 200px;
  max-height: 300px;
  padding: 10px 15px;
  line-height: 18px;
}

.form-select {
  @extend .form-input;
  height: 2.5rem;
  border-color: rgba(120,130,140,.2);
  border-radius: 0;
}
