.table{
  width: 100%;
  border-collapse: collapse;
  border: none;
  font-family: $default-font;
  font-size: 14px;
  font-weight: 300;

  thead{
    tr{
      th{
        text-align: left;
        padding: 20px 15px;

        &:first-child{
          padding-left: $space-medium;
        }

        &:last-child{
          padding-right: $space-medium;
        }
      }
    }
  }

  tbody{
    tr{
      border-top: 1px solid #eceeef;

      &:nth-child(odd){
        background-color: rgba($black, .025);
      }

      &:nth-child(even){}

      td{
        padding: 15px;

        &:first-child{
          padding-left: $space-medium;
        }

        &:last-child{
          padding-right: $space-medium;
        }

        a{
          color: $black;
          font-weight: bold;
          text-decoration: none;

          &:hover{
            text-decoration: underline;
          }
        }

        .button-dropdown{
          display: block;
          position: relative;

          &,
          & i{
            font-size: 20px;
            color: $dark-gray;
          }

          i{
            @include vertical-align;
            position: absolute;
          }
        }
      }
    }
  }
}
