<p>Olá, <%= @owner.name %>!</p>

<p>Seja bem vindo ao <stron>Owke</stron>.</p>

<p>Utilize o link abaixo para confirmar seu email e ativar sua senha no Owke.</p>

<p>
  <%= link_to 'Confirmar email', confirm_sign_up_url(
    company: @company.subdomain,
    token: @owner.perishable_token,
    subdomain: @company.subdomain,
  ) %>
</p>
