<template lang="html">
  <h1 class="log">{{ message }}</h1>
</template>

<script>
export default {
  data() {
    return {
      message: 'Owke Dashboard on Vue 2.1',
    }
  }
}
</script>

<style lang="css">
</style>
