<%= content_for :header_new_item do %>
  <%= nav_new_item(new_dashboard_customer_path) %>
<% end %>

<div class="padding">
  <div class="box">
    <% if @customers.empty? %>
      <p class="padding text-default text-center">Nenhum cliente cadastrado. Cadastre um cliente <%= link_to 'aqui', new_dashboard_customer_path %>.</p>
    <% else %>
      <table class="table padding">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <td><%= customer.name %></td>
              <td><%= customer.email %></td>
              <td>
                <div class="dropdown">
                  <%= link_to material_icon.more_vert, 'javascript:;', class: 'button-dropdown dropdown-action' %>

                  <ul class="dropdown-content">
                    <li><%= link_to "Editar", [:edit, :dashboard, customer] %>
                    <li><a href="#">Remover</a></li>
                  </ul>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
