<div class="box">
  <div class="box-header">
    <h3><%= @task.title %></h3>
    <small>Criada <%= l @task.created_at, format: :short %></small>
  </div>

  <div class="box-tool">
    <%= select_tag :status,
                   options_for_select(
                     Project::Task.statuses_i18n.map { |k, v| [v, Project::Task.statuses[k]] },
                     @task.status_before_type_cast
                   ),
                   data: {
                     remote: true,
                     method: :PATCH,
                     url: dashboard_task_status_url(@task),
                   },
                   class: 'form-select' %>
  </div>

  <div class="box-body">
    <div>
      <strong>Responsável</strong>
      <p><%= @task.responsible.name %></p>
    </div>

    <div>
      <strong>Data desejada</strong>
      <p><%= 'Não especificado' %></p>
    </div>

    <div>
      <strong>Descrição</strong>
      <p><%= @task.description %></p>
    </div>
  </div>
</div>
