<div class="form-row">
  <div class="form-column-two">
    <%= f.label :title, class: 'form-label' %>
    <%= f.text_field :title, class: 'form-input' %>
  </div>

  <div class="form-column-two">
    <%= f.label :responsible_id, class: 'form-label' %>
    <%= f.select :responsible_id, options_from_collection_for_select(User.all, :id, :name), {}, class: 'form-select' %>
  </div>

  <div class="form-column-one">
    <%= f.label :description, class: 'form-label' %>
    <%= f.text_area :description, class: 'form-textarea' %>
  </div>
</div>
