<tr id="task-<%= task.id %>">
  <td><%= task.id %></td>
  <td><%= link_to task.title, dashboard_task_path(task), remote: true, class: 'task-modal' %></td>
  <td><%= task.status_i18n %></td>
  <td><%= task.responsible.try :name %></td>
  <td><%= '' %></td>
  <td><%= task.deadline %></td>
  <td>
    <div class="dropdown">
      <%= link_to material_icon.more_vert, 'javascript:;', class: 'button-dropdown dropdown-action' %>

      <ul class="dropdown-content">
        <li><%= link_to "Editar", edit_dashboard_task_path(task) %>
        <li><a href="#">Remover</a></li>
      </ul>
    </div>
  </td>
</tr>
