<div class="padding">
  <div class="box">
    <%= form_for @task_form, url: dashboard_task_path(@task_form), method: :PUT do |f| %>
      <div class="form-content">
        <%= render 'form', f: f %>
      </div>

      <div class="form-action padding">
        <%= f.submit 'Editar', class: 'button button-submit pull-right' %>
      </div>
    <% end %>
  </div>
</div>
