<div class="padding">
  <div class="box">
    <%= form_for [:dashboard, @task_form] do |f| %>
      <%= f.hidden_field :project_id %>

      <div class="form-content">
        <%= render 'form', f: f %>
      </div>

      <div class="form-action padding">
        <%= f.submit 'Salvar', class: 'button button-submit pull-right' %>
      </div>
    <% end %>
  </div>
</div>
