<!DOCTYPE html>
<html>
  <head>
    <title>Owke</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'admin/application', media: 'all' %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag 'admin/application' %>
  </body>
</html>
