<!DOCTYPE html>
<html>
  <head>
    <title>Owke</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'dashboard/application', media: 'all' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">

    <div class="app">
      <%= render "/partials/dashboard/sidebar" %>

      <div class="main">
        <%= render "/partials/dashboard/header" %>

        <div class="content">
          <%= yield %>
        </div>
      </div>
    </div>

    <%= render 'partials/shared/flashes' %>

    <%= javascript_include_tag 'dashboard' %>
  </body>
</html>
