<!DOCTYPE html>
<html>
  <head>
    <title>Owke</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'dashboard/session', media: 'all' %>
  </head>

  <body class="session-body">
    <div class="float-box">
      <h1 class="session-logo">
        Owke
      </h1>

      <%= yield %>
    </div>

    <%= render 'partials/shared/flashes' %>

    <%= javascript_include_tag 'dashboard/session' %>
  </body>
</html>
