<!DOCTYPE html>
<html>
  <head>
    <title>Owke</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'site/application', media: 'all' %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag 'site/application' %>
  </body>
</html>
